/*geral*/
html, body{
margin: 0;
background-color: #212529;
width: 100%;
font-family: 'Roboto', arial, sans-serif;
}
/*navBar*/
nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
  }
/*
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-bottom: 10px
}*/
.title{
    font-size: 40px;
    margin: 0;
}
.itens{
    display: flex;
}li{
    list-style: none;
}
.area-itens{
    margin-right: 20px;
}
a{
    margin: 5px;
    text-decoration: none;
}
.navItens{
     color: #fff;
    transition: 0.7 all;
    cursor: pointer;
}
.navItens:hover{
    color: #ffb612;
}


.title{
text-align: center;
color: white;
}

.title-span{
    color: #ffb612;
}

section{
    background-color:#212529 ;
    color: white;
}
h1{
    margin-top: 0%;
    padding: 10px ;
}
.text-principal{
 width: 600px;
 margin: 0 auto;
text-align: center;
}
 .text-sub{
   width: 600px;
margin: 0 auto;
text-align: center;

}

/*footer*/
footer{
    height: 100%;
    padding-top:40px ;
    margin-top: 0;
    background-color: #212529;
    color: #fff;
}
.footer-conteud{
   text-align: center;
   font-size: 20px;
   color: rgb(172, 169, 169);
}
.footer-conteud:hover{
    color: #fff;
}
.linha{
    border: 1px solid gray;
    width: 10%;
   display: flex;
   margin: 20px auto;
}

.footer-itens-area{
    display: flex;
    justify-content: center;
  
}
.footer-itens{
    margin: 10px;
  
    transition: 0.8 all;
         
}
.footer-itens:hover{
  box-shadow: 0 0 1em #fff;

}
 /*Fale conosco*/
 .contato-area{
     display: flex;
     flex-direction: column;
     text-align: center;
 }
 .contact-button{
    margin-top: 10px;
    color: #fff;
    border-radius: 10px;
    border: none;
    background-color: black;
    margin-bottom: 10px;
    padding: 10px;
    transition: 0.9;
    cursor: pointer;
    width: 200px;
 
 }
 .contact-button:hover{
    color: #ffb612;
    box-shadow: 0 0 1em #776214;
    border: none;
    background-color: transparent;
 }
 textarea{
     outline: none;
 }
/*responsivo*/

@media  screen and (max-width:700px){

    nav{
        display: flex;
        flex-direction: column;
    }
  .text-principal{
      width: 370px;
  }
  .text-sub{
      width: 370px;
  }
}
